@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body{
    background-image: url(images/bg-pattern-bottom.svg);
    background-color: #0ba6ac;
    width: 90vw;
    background-repeat: repeat;
    font-size: 13px;
    background-position: left ;
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 350px;
    height: 420px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgba(92, 91, 89, 0.726);
    margin: auto;
    margin-top: 120px;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.192);
}

.perfil{
    border-radius: 100px;
    border: 4px solid #ffffff;
    margin-top: 87px;
}

.nome{
    font-size: 20px;
}

b{
    color: hsl(228, 87%, 22%);
    font-size: 20px;
}

.london{
    font-size: 15px;
    margin-top: -10px;
    padding-bottom: 10px;
}

.secundario{
    border-top: 1px solid #dad8d4b9;
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding-top: 20px;
    word-spacing: 60px;

}
