@charset "UTF-8";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s;
}

nav {
  background-color: #161616;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

h1, p {
  color: white;
}

nav, ul {
  display: flex;
  flex-direction: row;
}

h1{
    margin: 0;
    padding: 10px;
}

button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
}


li {
  padding: 0 20px;
}

li:hover, h1:hover, button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

button:focus ~ ul {
    height: 250px;
}

@media (max-width: 700px){
    nav{
        padding: 10px;
        align-items: flex-start;
    }

    h1{
        margin: 10px;
        width: 207px;
    }

    nav, ul{
        flex-direction: column;
        align-items: unset;
    }

    ul{
        text-align: center;
        margin: 0;
        height: 0;
    }

    button{
        display: flex;
    }


}
