/*
*{
   border: 1px solid red;
}
*/
body{
    width: 80%;
    margin: 0 auto;
}

/*-------CONTAINER 1--------*/

.flex-container{
    border: 3px solid #333;
    width: 500px;
    display: flex;

    flex-direction: row;/* Informa a direção dos itens */
    flex-wrap: wrap; /* Mantêm tudo dentro do contêiner */

    /* Ou usar */

    flex-flow: row wrap;/* É o mesmo que as dois comandos acima justos */

}

.box{
    background-color: #ffa500;
    border: 2px solid gray;
    padding: 0 40px;
    border-radius: 5px;
}

/*-------CONTAINER 1--------*/

.flex-item-1 {
    background: #8060da;
    padding: 0;
 /*   width: 25px; */

  /* 
    flex-grow: 0;  todos os itens se dividem igualmente no conteiner 
    flex-shrink: 1;
    flex-basis: 45px;
*/
    flex: 0 1 45px;
}

.flex-item-1:nth-child(3){
    /*
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45px; 
    */
    flex: 1 1 45px;
}

/* aula 5 "justyfy-content"*/

.flex-item-2 {
    background: #8060da;

}

.flex-container:nth-child(1){
   justify-content: flex-end;
   color: blue;
}




